.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background-color: whitesmoke;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 20px;

}

.name {
    margin-right: auto;
}

.online {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: green;
}

.offline {
    composes: online;
    background-color: red;
}