.statistics {
    background-color: lavender;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        margin-top: 40px;
        padding: 16px;
        width: 500px;
        text-align: center;
        margin-bottom: 40px;
}

.stat_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    gap: 20px
}